 
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}
  
.craft img {
    width: 300px;
    height: 300px; 
    padding: 20px;
    border: solid 2px black;
}
  
#craft-details-column {
    padding: 10px;
    margin: 10px;
    background: lightblue;
    border-radius: 5px;
}
  
#add-link {
    font-size: 0.8em;
    color: black;
    padding: 0 4px;
}
  
#edit-link {
    float: right;
    margin-right: 10px;
    font-size: 200%;
}
  
#delete-link {
    float: right;
    font-size: 200%;
}
  
#add-edit-craft-container {
    padding: 10px;
    margin: 10px;
    background: lightblue;
    border-radius: 5px;
}
  
  /* bblluuugggghh */

.w3-modal-content {
    width: 100%;
    height: 100%;
    max-width: 40%;
    border: 2px solid black;
}
  
.w3-container {
    background-color: #fefefe;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    max-width: 600px; 
    z-index: 1; 
}
.w3-container li{
  padding: 5px;

}


#craft-form{
    text-align: center;
}

label {
    display: block;
}
  
.inline {
    display: inline;
}
  
#supplies-p input {
    margin-top: 5px;
}
  
#add-supply {
    font-size: 0.75em;
    text-align: right;
    background-color: #fefefe;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    max-width: 600px; 

}
  
#img-prev-section {
    margin: auto;
}

#img-prev {
    padding: 2.5%;
    display: block;
    max-width: 95%;
    margin: auto;
    border: 5px solid black;
}
  
  
#main-nav-items {
    font-size: 1.2em;
}
 h1 {
    text-align: center;
    color: black;
}
  
a {
    text-decoration: none;
    color: lightgray;
}
  
.hidden {
    display: none;
}
.column {
    flex: 25%;
    max-width: 25%;

}
  
.column img {

    vertical-align: middle;
    width: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
  
 
@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
}
  
@media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }